<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>190490400011-ls7m9a7mivv220lv2rj0khj5cht2urvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190490400011-ls7m9a7mivv220lv2rj0khj5cht2urvf</string>
	<key>API_KEY</key>
	<string>AIzaSyB2xUgc_83o6FtsgYEZwZST8RzkSiABP54</string>
	<key>GCM_SENDER_ID</key>
	<string>190490400011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.place2Play</string>
	<key>PROJECT_ID</key>
	<string>place2place-413a3</string>
	<key>STORAGE_BUCKET</key>
	<string>place2place-413a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:190490400011:ios:f1ef288318673f129bfe0e</string>
</dict>
</plist>